<h1> Data In Hand </h1>

<h3> Brooke Moncol </h3> 
<h3> 11/27/23 </h3>

<h3> The data:</h3>

In [2]:
import pandas as pd

In [18]:
OSU = pd.read_csv('OSU Enrollment Rate.csv')

In [21]:
OSU

,Years,Total Students,Male Students,Male Percentage,Female Students,Female Percentage
0,2014,"10,424","8,152",78.20%,"2,272",21.80%
1,2015,"10,430","8,079",77.46%,"2,351",22.54%
2,2016,"10,817","8,253",76.30%,"2,564",23.70%
3,2017,"10,656","8,111",76.12%,"2,545",23.88%
4,2018,"10,786","8,130",75.38%,"2,656",24.62%
5,2019,"10,619","7,983",75.18%,"2,636",24.82%
6,2020,"10,320","7,751",75.11%,"2,569",24.89%
7,2021,"10,692","8,031",75.11%,"2,661",24.89%
8,2022,"10,761","8,028",74.60%,"2,733",25.40%
9,2023,"11,111","8,261",74.35%,"2,850",25.65%

In [16]:
Jobs = pd.read_csv('Jobs.csv')

In [20]:
Jobs

                                             Job Title    Total Women
0                             Total, 16 years and over  158,291  46.8
1                 Medical and health services managers      797  71.6
2                            Natural sciences managers       28     –
3                                         Logisticians      169  43.7
4                       Project management specialists      841  42.2
..                                                 ...      ...   ...
97   Power plant operators, distributors, and dispa...       23     –
98           Stationary engineers and boiler operators       85   3.3
99   Water and wastewater treatment plant and syste...       93   6.7
100           Miscellaneous plant and system operators       38     –
101  Chemical processing machine setters, operators...       73   9.7

[102 rows x 3 columns]

I collected the data by first examining how I planned to work around certain barriers. The main barrier was that there is no specific data that tells me the rate of which women are becoming apart of STEM.The way I went about ths was that I decided do a comparision between enrollment rate of women joining the STEM program at Ohio State University in 2021 and the employement rate of women in STEM. I was able to find Ohio State's enrollement rates by doing lots of definded searches, as I wanted to narrow down my data to the state of Ohio originally, but that became to hard to find specifc data for, and I feel as though I was able to get a good amount of data from the U.S. BUREAU OF LABOR STATISTICS. I found these stats through a different website and credited this website as it's source. I found lots of different annual data and looked through each till I was able to find the one that fit my data set best.

 

<strong> The Ohio State University data </strong> is collected data directly from Ohio States website, in which it shows two different data sets, the enrollment and degrees. I wanted to focus on the enrollment side of the data set. You can filter out what you would like to view on the right-hand side, so I filtered it by "legal sex". I can then see the exact number and percentage of women and men that enrolled in the college of engenering program at Ohio State. I then took this information and input it into an excel file, then saved it as a csv file.

<strong> The U.S. Labor Statistics </strong> is collected data directly from the U.S. BUREAU OF LABOR STATISTICS website, in which the table shows Employed persons by detailed occupation, sex, race, and Hispanic or Latino ethnicity. I then saved this table as an excel file and deleted the occupations that didn't relate to STEM. The jobs that I felt qualified as STEM were anything involving Technology, Math, Science, and Engineering. I also decided to take out anything other than involving women stats, as that is what I am focusing on for my data. I then saved this as a csv file.

The data structure of all these two are organized and easy to understand. I would consider their structure to be a "stack", as they all contain a real-world stack of items of data, women involved in STEM. I chose each of these data sets as I believe they are the clearest and most refind data sets that I could find to make a proper analysis.